$colour-assurance-msg                          : #3e6e00;
$colour-assurance-msg-border                   : #b5d299;
$colour-assurance-msg-text                     : #efffc5;
$colour-background                             : #eae8e0;
$colour-background-dark                        : #e5e3db;
$colour-background-horizontal                  : transparent;
$colour-background-light                       : #f5f4f0;
$colour-card-background                        : #f5f4f0;
$colour-card-border                            : #ccc;
$colour-best-price-guarantee                   : #003789;
$colour-black                                  : #000;
$colour-body                                   : #fff;
$colour-body-homepage                          : #e5e3db;
$colour-booking-cta-shadow                     : rgba(227,43,64,0.3);
$colour-border-container                       : #ccc;
$colour-brand                                  : #d41200;
$colour-brand-dark                             : #9c0c1e;
$colour-brand-gradient-bottom                  : #d41200;
$colour-brand-gradient-top                     : #f61800;
$colour-change-search                          : #000;
$colour-cta-theme-bg                                 : #026dc5;
$colour-cta-theme-border                             : #026dc5;
$colour-cta-theme-border-bottom                      : #003789;
$colour-cta-theme-hover-bg                           : #003789;
$colour-cta-theme-hover-border                       : #003789;
$colour-cta-theme-hover-border-bottom                : #003789;
$colour-cta-theme-processing-bg                      : #026dc5;
$colour-cta-theme-processing-border                  : #026dc5;
$colour-cta-theme-processing-icon                    : #fff;
$colour-cta-bg                                 : #30a0fd;
$colour-cta-border-bottom                      : #30a0fd;
$colour-cta-border-local-deals-button-multiuse : #bbe9ff;
$colour-cta-bg-local-deals-button-multiuse     : #bbe9ff;
$colour-themed-destinations-apac-multiuse      : #bbe9ff;
$colour-cta-gradient-top                       : #95cffe;
$colour-cta-hover-bg                           : #026dc5;
$colour-cta-hover-border                       : #4076ff;
$colour-cta-hover-border-bottom                : #4076ff;
$colour-cta-hover-border-top                   : #95cffe;
$colour-cta-processing-shadow                  : rgba(219,139,0,0.3);
$colour-cta-processing-urgency-multiuse        : #ffd542;
$colour-cta-shadow                             : rgba(60,163,227,0.3);
$colour-cta-shadow-inner                       : #30a0fd;
$colour-cta-shadow-wr-gold-bg-multiuse         : #e9d9a2;
$colour-dark-alpha-3                           : rgba(0,0,0,0.3);
$colour-dark-alpha-4                           : rgba(0,0,0,0.4);
$colour-dark-alpha-5                           : rgba(0,0,0,0.5);
$colour-dark-alpha-7                           : rgba(0,0,0,0.7);
$colour-deals-discounts                        : #458f00;
$colour-disney                                 : #005986;
$colour-enhanced-sort-focus                    : rgba(2,109,197,0.5);
$colour-error                                  : #d41200;
$colour-error-shadow                           : rgba(0,0,0,0.3);
$colour-facebook                               : #3b5998;
$colour-footer-bg                              : #f5f4f0;
$colour-footer-social-hover                    : rgba(0,0,0,0.5);
$colour-footer-ml-bg                           : #4e4e4e;
$colour-footer-ml-text                         : #dcdcdc;
$colour-form-border                            : #ccc;
$colour-form-error-bg                          : #f6d0cc;
$colour-form-focus-bg                          : #ff9;
$colour-google-plus                            : #dd4b39;
$colour-gradient-wr-top                        : #603;
$colour-grey-dark                              : #dcdcdc;
$colour-grey-darkish                           : #7e7e7e;
$colour-grey-light                             : #a5a5a5;
$colour-grey-lighter                           : #e8e8e8;
$colour-grey-mid                               : #ccc;
$colour-header-bottom                          : #9c0c1e;
$colour-header-cta-text                        : #fff;
$colour-header-menu-background-hover           : #222;
$colour-header-menu-bg                         : #333;
$colour-header-menu-text                       : #fff;
$colour-header-popup-menu-list-background      : #4e4e4e;
$colour-header-popup-menu-hover-text           : #fff;
$colour-header-popup-menu-hover-bg             : #9c0c1e;
$colour-header-popup-menu-text                 : #fff;
$colour-header-popup-menu-text-active          : #fff;
$colour-header-popup-menu-toggle               : #fff;
$colour-header-popup-active-background         : #7e7e7e;
$colour-header-pos-toggle-bg                   : #333;
$colour-header-pos-toggle-hover-active         : #9c0c1e;
$colour-header-pos-panel-background            : #f5f4f0;
$colour-header-pos-panel-border                : #eee;
$colour-header-pos-location-background         : #eae8e0;
$colour-header-pos-content-background          : #fff;
$colour-header-loggedin-user                   : #ffd542;
$colour-headings                               : #333;
$colour-input-shadow                           : #f5f4f0;
$colour-light-alpha-2                          : rgba(255,255,255,0.2);
$colour-light-alpha-3                          : rgba(255,255,255,0.3);
$colour-light-alpha-8                          : rgba(255,255,255,0.8);
$colour-link                                   : #026dc5;
$colour-link-active                            : #003789;
$colour-link-visited                           : #003789;
$colour-loading-highlight-multiuse             : #ff9;
$colour-message-notice                         : #fefdca;
$colour-message-overlay-text                   : #f61800;
$colour-notification-cta-bottom                : #2989d7;
$colour-urgency-popup-bg-multiuse              : #2989d7;
$colour-urgency-popup-text-multiuse            : #fff;
$colour-neutral-msg                            : #fefdca;
$colour-neutral-msg-border                     : #ceb26f;
$colour-neutral-msg-text                       : #855d16;
$colour-nudge-background                       : #dae9cc; //Temporary colour, to be removed by https://jira.hotels.com/browse/HMVT-2184
$colour-nudge-title                            : #028017; //Temporary colour, to be removed by https://jira.hotels.com/browse/HMVT-2184
$colour-overlay-title-background               : #e5e3db;
$colour-pdp-description-background-start       : #fff;
$colour-pdp-description-background-end         : #f5f4f0;
$colour-pdp-rooms-rates-border                 : #ccc;
$colour-pdp-rooms-rates-header-background      : #e5e3db;
$color-pdp-rooms-rates-payment-background      : #458f00;
$color-pdp-rooms-rates-payment-text            : #fff;
$colour-popular-destinations-apac              : #4b0157;
$colour-popupmenu-background                   : #eae8e0;
$colour-price                                  : #d41200;
$colour-search-header                          : #eae8e0;
$colour-smallprint                             : #ccc;
$colour-sort-bg                                : #95cffe;
$colour-sort-bg-hover                          : #f5f4f0;
$colour-sort-border                            : #ccc;
$colour-sort-text                              : #000;
$colour-speech-arrow                           : #ccc;
$colour-sqm-background                         : #eae8e0;
$colour-sqm-background-horizontal              : #f5f4f0;
$colour-sqm-border                             : #ccc;
$colour-sqm-border-bottom                      : #f5f4f0;
$colour-sqm-border-top                         : #ccc;
$colour-sqm-datepicker                         : #7e7e7e;
$colour-sqm-inline-border                      : #000;
$colour-sqm-overlay-background                 : #f5f4f0;
$colour-sqm-shadow                             : #4e4e4e;
$colour-sqm-triptype-bg                        : #f7f5e7;
$colour-star                                   : #f61800;
$colour-star-inactive                          : #ccc;
$colour-text                                   : #4e4e4e;
$colour-text-sqm                               : #4e4e4e;
$colour-tooltip-border                         : #7e7e7e;
$colour-tooltip-text                           : #7e7e7e;
$colour-transparent                            : transparent;
$colour-transparent-ios                        : rgba(255,255,255,0);
$colour-trip-advisor-circle                    : #589742;
$colour-twitter                                : #55acee;
$colour-value-adds-bg                          : #eaf5fa;
$colour-white                                  : #fff;
$colour-wr                                     : #906;
$colour-wr-dark                                : #603;
$colour-wr-gold                                : #c79339;
$colour-wr-gold-bg-light                       : #f7f5e7;
$colour-wr-gold-dark                           : #855d16;
$colour-wr-gold-title-text                     : #ceb26f;
$colour-wr-pink                                : #c08;
$colour-wr-pink-bg                             : #ead0e4;
$colour-wr-pink-bg-light                       : #f2eaf0;
$colour-youtube                                : #cd201f;

$colour-trust-you-positive                     : #388e3c;
$colour-trust-you-neutral                      : #4caf50;
$colour-trust-you-negative                     : #c5e5c6;
$colour-trust-you-bar-background               : #e8e8e8;

$colour-daterange-bg                           : #fff;
$colour-daterange-text                         : #333;
$colour-daterange-disabled                     : #a5a5a5;
$colour-daterange-higlight-bg                  : #95cffe;
$colour-daterange-higlight-text                : #333;
$colour-daterange-selected-date-bg             : #026dc5;
$colour-daterange-selected-date-text           : #fff;

$colour-avatar-border                          : #fff;
