<div class="home-page">
    <sqm-directive data="vm.model.body.dynamic.data['container-queryform1'].query"></sqm-directive>

    <carousel-directive data="vm.teaserData" details="false"></carousel-directive>

    <!-- Hcom rewards !-->
    <div class="resp-row ">
        <div class="resp-col resp-xs1 hi-s hi-m hi-ml hi-l hi-xl welcome-rewards">
            <div class="resp-module"><a href="/account/welcomerewards.html" class="hr-full-module-link"></a>

                <div class="hr-wrapper returning  ">
                    <div class="cont-bd">
                        <div class="cont-left">
                            <div class="punch-card">
                                <div class="cont-hd"><img alt="Hotels.com™ Rewards" class="hr-logo"
                                                          src="/assets/images/rewards-logo-purple-no-moon-en_US.png"
                                                          height="16"></div>
                                <div class="cont-bd">
                                    <div class="night-icons">
                                        <ol>
                                            <li><span class="night-icon">1</span></li>
                                            <li><span class="night-icon">2</span></li>
                                            <li><span class="night-icon">3</span></li>
                                            <li><span class="night-icon">4</span></li>
                                            <li><span class="night-icon">5</span></li>
                                            <li><span class="night-icon">6</span></li>
                                            <li><span class="night-icon">7</span></li>
                                            <li><span class="night-icon">8</span></li>
                                            <li><span class="night-icon">9</span></li>
                                            <li><span class="night-icon">10</span></li>
                                        </ol>
                                    </div>
                                    <div class="separator">=</div>
                                    <div class="night-summary">
                                        <div class="number"><span class="moon"></span><span class="text">FREE</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cont-right">
                            <div class="message-box"><p class="collect-text">
                                {{vm.model.body.dynamic.data['welcome-rewards2'].mainTitle}}</p>

                                <p class="unlock-text">{{vm.model.body.dynamic.data['welcome-rewards2'].subTitle}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="cont-ft">

                        <a class="hr-button cta " href="/account/welcomerewards.html">{{vm.model.body.dynamic.data['welcome-rewards2'].ctaTitle}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hcom rewards !-->
    <!-- Marketing copy !-->
    <div class="resp-row resp-section">
        <div class="resp-col container">
            <div class="resp-row resp-section">
                <div class="resp-col marketing-copy">
                    <div class="resp-module">
                        <p></p>

                        <p><strong>Hotels.com</strong> offers the choice of hundreds of thousands of
                            <strong>hotels</strong>
                            in more than 60 countries. Our <strong>hotel reviews</strong> will help you find the
                            <strong>best
                                deal</strong> in the right location. Whether you are <strong>travelling last
                                minute</strong>,
                            as a family or <strong>need a hotel for business</strong> we have the right <strong>hotel
                                deal</strong> for you. We also have a 24 hour phone line if you would prefer to speak to
                            someone. Find, compare and book <strong>great hotels</strong> at great prices all at
                            <strong>Hotels.com</strong>
                        </p>

                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
