@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.main-views.ng-enter {
    animation: slideInRight 0.5s both ease-in;
    z-index: 8888;
}

.main-views.ng-leave {
    animation: slideOutLeft 0.5s both ease-in;
    z-index: 9999;
}

//.home-page.ng-enter, .pdp-page.ng-enter, .srp-page.ng-enter {
//    animation: slideInRight 0.5s both ease-in;
//}
//
//.home-page.ng-leave, .pdp-page.ng-leave, .srp-page.ng-leave {
//    animation: slideOutLeft 0.5s both ease-in;
//}
